.markdown-container {
  color: var(--color-app-black-800);

  h1, h2, h3, h4, h5, h6 {
      margin: 1.3em 0;
      font-weight: 600;
  }

  h1 {
      font-size: 2em;
  }

  h2 {
      font-size: 1.5em;
  }

  h3 {
      font-size: 1.3em;
  }

  h4, h5, h6 {
      font-size: 1.1em;
  }

  p {
      margin: 1em 0;
  }

  a {
      color: #0645AD;
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  ul, ol {
      padding-left: 2em;
      margin: 1em 0;
  }
  li {
    list-style-type: disc;
    margin: 1em 0;
  }

  blockquote {
    padding-left: 1em;
    color: #555;
    border-left: 4px solid var(--color-app-black-400);
  }
}
